@font-face {
    font-family: "Roboto";
    src: url("../../fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../../fonts/roboto-slab/RobotoSlab-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../../fonts/roboto-mono/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

body {
    background-color: #666;
    color: white;
    font-family: "Roboto Slab";
    font-size: 30px;
    margin: 0;
}

.frame {
    padding: 50px;
    height: 100%; width: 100%;
}

button {
    background-color: rgb(134, 202, 134);
    font-family: "Roboto Mono";
    font-size: 20px;
    width: 150px;
}

button:active {
    filter: brightness(80%);
}

.small button {
    width: auto;
}

button.red {
    background-color: pink;
}

button.blue {
    background-color: skyblue;
}

button.selected.red {
    background-color: rgb(253, 74, 74);
}
button.selected.blue {
    background-color: rgb(65, 109, 255);
}

button:disabled {
    background-color: lightgrey !important;
}

.button-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 100px;
    margin-bottom: 20px;
}

.frame .row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 100px;
    margin-bottom: 20px;
}

.frame .column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.frame span {
    text-align: center;
    font-size: 20px;
}

.frame .column button {
    flex-grow: 1;
}

#data {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 100px;
    margin-bottom: 20px;
    font-size: 15px;
}

#data .info-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 200px;
}