@font-face {
    font-family: "Roboto";
    src: url("../../fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Slab";
    src: url("../../fonts/roboto-slab/RobotoSlab-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("../../fonts/roboto-mono/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Electrolize";
    src: url("../../fonts/electrolize/Electrolize-Regular.ttf") format("truetype");
}

#match-view {
    position: absolute;
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;

    --info-bar-height: 40px;
    --border-color: black;
}

#stream {
    position: relative;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

#stream video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    /* Mirror stream */
    transform: rotateY(180deg);
}

#timer {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    margin: 0px;
    background-color: white;
    border-bottom: solid black 5px;
}

#timer #bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: green;
}

#timer #time {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
    min-height: 40px;
    border-radius: 10px;
    background: rgba(210, 210, 210, 0.8);
    line-height: 40px;
    text-align: center;
    padding-top: 1px;
    font-size: 40px;
    font-family: "Roboto";
    font-weight: bold;
}

#overlay {
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    height: 250px;
    margin: 0px;
    background-color: white;
    border-top: solid var(--border-color) 5px;
    box-sizing: border-box;

    --score-box-width: 500px;
}

#overlay .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#overlay .row {
    display: flex;
    justify-content: space-between;
}
#overlay .blue.row { flex-direction: row; }
#overlay .red.row { flex-direction: row-reverse; }


#overlay .indicator {
    border: 5px solid var(--border-color);
    box-sizing: border-box;
    background-color: grey;
    color: lightgrey;
    font-family: "Roboto Slab";
    text-align: center;
}

#overlay .red .lit.indicator {
    background-color: red;
    color: white;
}

#overlay .blue .lit.indicator {
    background-color: blue;
    color: white;
}

#overlay .label {
    font-family: "Roboto Slab";
    font-weight: bold;
    text-align: center;
    justify-self: flex-start;
    width: 100%;
    font-size: 30px;
    height: 40px;
    color: black;
}

#overlay #scoring-panel {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background: linear-gradient(to top, lightgrey 95%, grey);
    box-sizing: border-box;
}

#overlay #scoring-panel #match-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 630px;
}

#overlay #scoring-panel #match-panel #match-name {
    height: 50px; width: 500px;
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    color: black;
    background-color: white;
    border: 5px solid var(--border-color);
    border-bottom: none;
    box-sizing: border-box;
}

#overlay #scoring-panel #match-panel #score-box {
    width: 500px;
    height: 160px;
    border: 5px solid var(--border-color);
    font-family: Roboto;
    font-weight: bold;
    font-size: 90px;
    text-align: center;
    line-height: 150px;
    color: white;
    text-shadow: 0 0 5px var(--border-color);
    box-sizing: border-box;
}

#overlay #scoring-panel #match-panel #score-box .blue {
    width: calc(50% - 2px);
    height: 100%;
    float: left;
    border-right: 2px solid var(--border-color);
    background-color: blue;
}

#overlay #scoring-panel #match-panel #score-box .red {
    width: calc(50% - 2px);
    height: 100%;
    float: right;
    border-left: 2px solid var(--border-color);
    background-color: red;
}

#overlay #scoring-panel #match-panel #teams {
    position: absolute;
    height: 210px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: calc(110px + var(--score-box-width));
    box-sizing: border-box;
}

#overlay #scoring-panel #match-panel #teams .red, #overlay #scoring-panel #match-panel #teams .blue {
    position: absolute;
    height: 120px;
    width: 50px;
    bottom: 0px;
    background-color: white;
    border-top: 5px solid var(--border-color);
}

#overlay #scoring-panel #match-panel #teams .red.team-column {
    right: 0;
    border-right: 5px solid var(--border-color);
}

#overlay #scoring-panel #match-panel #teams .blue.team-column {
    left: 0;
    border-left: 5px solid var(--border-color);
}

#overlay #scoring-panel #match-panel #teams .team-column .number {
    position: relative;
    height: 40px;
    line-height: 35px;
    border-bottom: 5px solid var(--border-color);
    color: black;
    text-align: center;
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 30px;
    box-sizing: border-box;
}

#overlay #scoring-panel #match-panel #teams .red.alliance-number,
#overlay #scoring-panel #match-panel #teams .blue.alliance-number {
    position: absolute;
    height: 45px;
    width: 40px;
    top: 0px;
    color: black;
    background-color: white;
    border: 5px solid var(--border-color);
    text-align: center;
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 35px;
    line-height: 40px;
}

#overlay #scoring-panel #match-panel #teams .red.alliance-number { right: 0; }
#overlay #scoring-panel #match-panel #teams .blue.alliance-number { left: 0; }


/* Corals */
#overlay .coral-panel {
    position: relative;
    width: 510px; height: 127.5px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
#overlay .coral-panel.red { left: -55px; }
#overlay .coral-panel.blue { left: 55px; }
#overlay .coral-panel.red { flex-direction: row-reverse; align-self: flex-end; }
#overlay .coral-panel.blue { flex-direction: row; align-self: flex-start; }

#overlay .coral-panel .coral-border {
    position: relative;
    bottom: 0;
    box-sizing: border-box;
    border: 5px solid black;
    background-color: white;
    height: 90px;
    width: 270px;
}
#overlay .red .coral-border { left: 0px; }
#overlay .blue .coral-border { left: 0px; }

#overlay .coral-icon {
    position: absolute;
    height: 100%;
    width: 82.5px;
    background-color: white;    
    background-image: url(../../images/coral.png);
    background-position: center;
    background-size: 90px;
}
#overlay .red .coral-icon { background-color: rgb(233, 13, 13); }
#overlay .blue .coral-icon { background-color: rgb(62, 62, 255); }

#overlay .coral-panel .coral-count {
    position: absolute;
    left: 55px;
    right: 0px;
    margin: auto;
    width: 135px;
    top: 2px;
    text-align: center;
    font-family: "Roboto Slab";
    color: black;
    font-size: 48px;
}

#overlay .coral-panel .algae-border {
    position: relative;
    bottom: 0;
    box-sizing: border-box;
    border: 5px solid black;
    background-color: white;
    height: 90px;
    width: 270px;
}
#overlay .red .algae-border { left: 0px; }
#overlay .blue .algae-border { left: 0px; }

#overlay .algae-icon {
    position: absolute;
    height: 100%;
    width: 82.5px;
    background-color: white;    
    background-image: url(../../images/algae.png);
    background-position: center;
    background-size: 90px;
}
#overlay .red .algae-icon { background-color: rgb(233, 13, 13); }
#overlay .blue .algae-icon { background-color: rgb(62, 62, 255); }

#overlay .coral-panel .algae-count {
    position: absolute;
    left: 55px;
    right: 0px;
    margin: auto;
    width: 135px;
    top: 2px;
    text-align: center;
    font-family: "Roboto Slab";
    color: black;
    font-size: 48px;
}

#overlay .coop-indicator {
    position: relative;
    bottom: -100px;
    height: 60px;
    width: 60px;
    background-color: grey;
    background-image: url(../../images/handshake.svg);
    background-position: center;
    background-size: 60px;
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 60px;
}

#overlay .red .coop-indicator { left: 100px; }
#overlay .blue .coop-indicator { left: -100px; }
#overlay .lit.coop-indicator { background-color: goldenrod; }