@font-face {
    font-family: "roboto";
    src: url("../../fonts/roboto/roboto-regular.ttf") format("truetype");
}

@font-face {
    font-family: "roboto slab";
    src: url("../../fonts/roboto-slab/robotoslab-variablefont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "roboto mono";
    src: url("../../fonts/roboto-mono/robotomono-variablefont_wght.ttf") format("truetype");
}

#results-view {
    z-index: 2; /* robot art is z-index 1 and this needs to be higher */
    background-color: rgb(53, 53, 53);
    position: absolute;
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 2s;
    pointer-events: none;
    font-family: "Roboto Slab";
    font-weight: bold;
    font-size: 30px;
    color: white;

    --border-color: black;
    --avatar-height: 50px;
}

#results-view.fade-in {
    opacity: 1;
    pointer-events: auto;
}

#results-view video {
    position: absolute;
    height: 100%; width: 100%;
    opacity: 1;
    transition: opacity 1s;
    z-index: 1;
    pointer-events: none;
}

#results-view #frame {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 35px;
    background-color: lightgrey;
    border: 5px solid var(--border-color);
    border-radius: 25px;
    padding: 25px;
}

#results-view #frame #match-label {
    margin: 0 0 20px 80px;
    color: black;
    font-size: 50px;
}

#results-view #frame #panels {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: flex-start;
}

#results-view #frame .alliance-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 5px solid var(--border-color);
    border-radius: 25px;
    padding: 25px;
}

#results-view #frame .red.alliance-panel {
    background-color: red;
}

#results-view #frame .blue.alliance-panel {
    background-color: blue;
}

#results-view #frame .alliance-panel .overview {
    height: 225px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.alliance-panel .overview .teams {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    font-size: 30px;
    margin-bottom: 20px;
}

.alliance-panel .overview .labels {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 375px;
}

.alliance-panel .overview .labels .rank-label {
    margin-left: 40px;
}

.alliance-panel .overview .teams .team {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 5px 0;
    font-family: "Roboto Mono";
}

.alliance-panel .overview .teams .team .avatar {
    height: 25px; width: 25px;
}

.alliance-panel .overview .teams .team .number {
    margin-left: 5px;
    width: 45px;
    vertical-align: text-bottom;
}

.alliance-panel .overview .teams .team .rank {
    align-self: flex-end;
    margin-left: 57px;
    vertical-align: text-bottom;
}

.alliance-panel .overview .score-panel {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    align-items: center;
    justify-content: space-between;
    width: 188px; height: 188px;
    margin-left: 50px;
    background-color: white;
    border: 5px solid var(--border-color);
    border-radius: 10px;
    color: black;
}

.alliance-panel .overview .score-panel .high-score {
    padding-top: 10px;
    text-transform: uppercase;
}

.alliance-panel .overview .score-panel .score {
    font-family: "Roboto";
    font-size: 90px;
}

.alliance-panel .overview .score-panel .result {
    padding-bottom: 10px;
    text-transform: uppercase;
}

.alliance-panel .details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.alliance-panel .details .rp-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    background-color: dimgrey;
    border: 5px solid var(--border-color);
    border-radius: 15px;
}

.alliance-panel .details .rp-panel .count {
    justify-self: flex-start;
}

#results-view .red .lit.indicator {
    background-color: rgb(255, 72, 72);
}

#results-view .blue .lit.indicator {
    background-color: rgb(79, 79, 252);
}

.alliance-panel .details .rp-panel .indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 5px 0;
    width: 113px; height: 90px;
    background-color: lightgrey;
    border: 5px solid var(--border-color);
    border-radius: 10px;
    box-sizing: border-box;
}

.alliance-panel .details .rp-panel .indicator img { height: 60px; }

.rp-panel .autoRP.indicator img { content: url(../../images/autoRP.png); transform: scale(0.7); }
.rp-panel .lit.autoRP.indicator img { content: url(../../images/lit-autoRP.png); transform: scale(0.7);  }
.rp-panel .coralRP.indicator img { content: url(../../images/grey-ensemble.png); transform: scale(0.8); }
.rp-panel .lit.coralRP.indicator img { content: url(../../images/lit-ensemble.png); transform: scale(0.8); }
.rp-panel .bargeRP.indicator img { content: url(../../images/grey-ensemble.png); transform: scale(0.8); }
.rp-panel .lit.bargeRP.indicator img { content: url(../../images/lit-ensemble.png); transform: scale(0.8); }
.rp-panel .win.indicator img { content: url(../../images/win-icon-grey.png); transform: scale(0.7); }
.rp-panel .lit.win.indicator img { content: url(../../images/win-icon.png); transform: scale(0.7); }

.alliance-panel .details .category-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: dimgrey;
    border: 5px solid var(--border-color);
    border-radius: 15px;
}

.alliance-panel .details .category-panel .category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
}

.alliance-panel .details .category-panel .category .label {
    align-self: flex-start;
    text-transform: uppercase;
}